@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
/*
    padding 上 
    margin 下
*/
body {
  font-family: Montserrat, sans-serif;
  font-family: "Lato", sans-serif;
}
* {
  box-sizing: border-box;
  /* outline: 1px red solid;s */
}
img {
  vertical-align: middle;
  width: 100%;
}

/* milestone 共用區塊 */
.milestone_cardwarp {
  height: 100%;
  width: auto;
  padding-top: 84px;
  text-align: center;
  flex-grow: 1;
}
.fin_top {
  background-image: url(/section_Leading_the_market/fin.webp);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top right;
}
.wrap_Borders {
  padding: 10px;
}
.milestone_card {
}
.milestone_card {
}

.milestone_icon {
  margin-bottom: 4px;

  color: #5e58f8;
}
.milestone_icon span {
  display: inline-block;
  font-size: 3.12em;
  line-height: 1.16;
  vertical-align: middle;
}

.milestone_text .title_Value {
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 3em;
  line-height: 1.3;
}
.milestone_text .title_Value span {
  display: inline-block;
}
.milestone_text p {
  font-size: 0.87em;
  line-height: 1.5;
  letter-spacing: 3px;
}

@media screen and (min-width: 768px) {
  .wrap_Borders {
    padding: 0;
  }
}
/* leading_Market */

/* 共用區塊 */
.leading_Market {
  padding: 50px 0;
  overflow: hidden;
}
.alternate-pic {
  order: -1;
}
/* 文字區塊 */
.leading_Market .leading_Market_text {
  /* margin-top: 91px; */
  padding-top: 91px;
  text-align: center;
}
.leading_Market .leading_Market_text .leading_Market_title {
  font-size: 0.87em;
  line-height: 0.87em;
  letter-spacing: 0.2em;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.leading_Market_text .line-bar {
  display: block;
  margin: 27px auto 0 auto;
  width: 70px;
  height: 2px;
  background: #7652fd;
}
.leading_Market .leading_Market_text p {
  margin-bottom: 35px;
  padding-top: 27px;
  font-size: 1.125em;
  line-height: 1.67em;
  font-weight: 300;
  letter-spacing: 0;
}
/* 按鈕 */

.leading_Market_btn {
  margin: auto;
  display: block;
  padding: 15px 33px;
  font-size: 0.75em;
  line-height: 2em;
  letter-spacing: 0.2em;
  border: 1px solid #7652fd;
  border-radius: 5px;
  background-color: #fff;
}
.leading_Market_btn:last-child {
  margin-top: 18px;
  color: #fff;
  background: #7652fd;
}

/* 圖片區塊 */
.leading_Market .leading_Market_pic {
  position: relative;
}

.pic_expansion {
  position: relative;
  margin: 0 -40px 0 -50px;
  transform: translateY(27px);
}

@media screen and (min-width: 768px) {
  .alternate-pic {
    align-self: center;
  }
  .leading_Market_text .line-bar {
    margin-left: 0;
  }
  .leading_Market .leading_Market_text {
    text-align: left;
  }
  .leading_Market_btn {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .leading_Market_text {
    padding-left: 67px;
  }
  .leading_Market_btn_group {
    display: flex;
    padding-left: 67px;
  }
  .leading_Market_btn,
  .leading_Market_btn:last-child {
    margin: 0;
  }
  .leading_Market_btn:last-child {
    margin-left: 36px;
  }
}
/*---leading_Market END---*/

/*---footer---*/
.main-footer .scope-wrap {
  display: flex;
  flex-direction: column;
}
.main-footer .scope-wrap .footer_wrap_Borders {
  padding: 10px;
}
.main-footer .infoot-header {
  padding-top: 82px;
  padding-bottom: 100px;
  color: #fff;
  background: #2a3237;
}
.main-footTitile {
  margin-bottom: 25px;
  font-size: 0.88em;
  line-height: 1.322em;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  letter-spacing: 2px;
}

/* about*/
.infoot-header .foot-about {
}
.infoot-header .foot-about .main-footTitile {
  margin-bottom: 23px;
  line-height: 1em;
}
.infoot-header .foot-about p {
  text-align: left;
  padding-right: 34px;
  font-weight: 300;
  line-height: 1.87em;
}
/* about END*/

/*---tags---*/
.infoot-header .foot-tags {
}
.infoot-header .foot-tags .main-footTitile {
}
.infoot-header .foot-tags .foot-links {
  padding-top: 12px;
  font-size: 0;
}
.infoot-header .foot-tags .foot-links li {
  display: inline-block;
}
.infoot-header .foot-tags li a {
  display: block;
  margin: 0 4px 5px 0;
  padding: 11px 13px;
  font-size: 12px;
  line-height: 1.666666em;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 600;
  background: #252b2f;
  color: #fff;
}

/* ---tagsEND---*/

/*---recentComments---*/
/* main-footer */
.infoot-header .foot-recentComments {
}

.foot-recentComments .forum-wrap {
}
.foot-recentComments .forum-wrap .forum-link {
  display: flex;
  flex-direction: column;
}
.foot-recentComments .forum-wrap .forum-link:first-of-type {
  margin-bottom: 30px;
}
.foot-recentComments .forum-wrap .forum-link a {
  margin-bottom: 5px;
  font-size: 1.125em;
  line-height: 1.23em;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  font-family: Montserrat, sans-serif;
}
.foot-recentComments .forum-wrap .forum-link span {
  font-size: 12px;
  line-height: 1.33em;
  color: #898d91;
}
/*--- main-footer --- END */
/*---infoot-footer---*/
.main-footer .infoot-footer {
  padding: 10px 0;
  background: #252b2f;
  color: #898d91;
}

.main-footer .infoot-footer .scope-wrap {
  justify-self: start;
}
.infoot-footer .foot-logo {
}
.infoot-footer .foot-logo img {
  width: 128px;
}
.infoot-footer .foot-copyright {
  text-align: center;
  line-height: 1.65em;
}
.infoot-footer .foot-Community {
}
.infoot-footer .foot-Community ul {
  display: flex;
  justify-content: end;
}
.infoot-footer .foot-Community ul li {
  margin-left: 10px;
}
.foot-Community ul a {
  font-size: 14px;
  display: inline-block;
  padding: 6.3px;
  text-decoration: none;
  color: #898d91;
}

/*--- infoot-footer ---END */
/* ---recentComments---*/

/*---footerEND---*/
@media screen and (min-width: 768px) {
  .main-footer .scope-wrap {
    flex-direction: row;
  }
  .infoot-footer .scope-wrap {
    flex-grow: 1;
    align-items: center;
  }
}
