.pricing_Menu{
    padding: 20px 15px;
}
.container{
    margin: auto;
    display: flex;
    flex-direction: column;

}
.pricing_title{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 25px;
    text-align: center;
}
.container .pricing_title h3{
    font-size: 32px;
    order: 2;
}
.container .pricing_title p{
    margin-bottom: 27px;
    font-size: 12px;
    order: 1;
}
/*  共用卡片設定 */
.card{
    margin: 10px;
    padding:  20px 20px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    font-size: 0;
    overflow: hidden;
}
.card .card_icon{
    margin-top: 30px;
    padding:0 10px 16px 10px;
    height: 75px;
    line-height: 75px;
    color: #1b81fd;

}
.card .card_icon i{
    font-size: 48px;
    font-weight: 900;
    vertical-align: middle;
}
.card .card_Text{
    text-align: center;
}

.card_Text .card_Title{
    font-size: 18px;
    line-height: 21.6px;
    padding-bottom: 10px;
    letter-spacing: 3px;
}
.card_Text .Pricing{
    padding-bottom: 26px;
}
.Pricing span:nth-child(n){
    display: inline-block;
    font-size: 14px;
    line-height: 1em;
    vertical-align: baseline;
}
.Pricing span:nth-child(1){
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 4px;
    vertical-align: top;
}
.Pricing span:nth-child(2){
    font-size: 48px;
    font-weight: 500;
}
.Pricing span:nth-child(3){
    margin-left: 5px;
    line-height: 16px;
}
.card .card_Text p{
    padding-bottom: 26px;
    font-size: 16px;
    line-height: 26px;
}
.card button{
    padding: 13px 43px 11px;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 1px;
    border-radius: 50px;
    border: 1px solid #ccc;
    background: transparent;
}
.card button:hover{
    color: #fff;
    background: #1B81FD;
    transition: all .1s;
}
/*  */
.purple_card{
    position: relative;
    color: #fff;
    background: #5928DB;
}
.purple_card.card .card_icon{
    color: #fff;
}
.purple_card .best_Icon{
    /* content: 'BEST'; */
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 100px;
    height: 100px;
    transform: rotate(45deg);


}
.purple_card.card button{
    color: #fff;
}
.purple_card .best_Icon span{
    display: block;
    margin-left: auto;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    letter-spacing: 3px;
    background: #1B81FD;
}



